/* body {
    position: relative;
    background-color: #f5f6f7;
} */
.popupbaru-title{
    color:grey;
}
.popupbaru-description{
    color: grey;
}
.popupbaru-button,.popupbaru-button:visited{
    text-decoration: none;
    color:black;
}
/* .testing {
    padding: 5%;
} */

/* untuk device ukuran 150px sampai 424px posisi popup akan di tengah bawah*/
@media screen and (min-width: 150px) and (max-width: 424px) {
    .popupbaru {
        position: fixed;
        right: 10%;
        left: 10%;
        bottom: 10%;
        background-color: #fff;
        z-index: 99999;
        padding: 5%;
        border-radius: 6px;
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .popupbaru-close {
        position: absolute;
        top: 10px;
        right: 13px;
        font-size: 13px;
        color: #333333;
        cursor: pointer;
        transition: color .17s ease;
    }

    .popupbaru-logo {
        float: left;
        width: 55px;
        height: 55px;
        background-size: cover;
        background-image: url('https://user-images.githubusercontent.com/94148747/141412091-5afaf35c-341d-4935-ae4a-e5daa7e715e4.png');
        margin: 0 5% 0 0 ;
    }

    .popupbaru a {
        float: left;
        width: 100%;
        height: 28px;
        background-color: #fc0;
        font-size: 14px;
        color: #222;
        text-align: center;
        line-height: 28px;
        border-radius: 2px;
        transition: background .17s ease;
    }
    #back-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 10%;
        width: 6px;
        height: 6px;
        background-color: #6c6cfe;
        cursor: pointer;
        overflow: hidden;
        font-size: 14px;
        color: white;
        text-align: center;
        line-height: 36px;
        z-index: 50;
        box-sizing: border-box;
        margin: 0;
        border: 0;
        border-bottom: 2px solid #000;
        border-radius: 6px;
    }
}



/* untuk device ukuran 425 keatas posisi popup akan di kanan bawah */

@media screen and (min-width: 425px){
    .popupbaru {
    position: fixed;
    right: 65px;
    bottom: 25px;
    width: 300px;
    background-color: #fff;
    z-index: 99999;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    .popupbaru-close {
        position: absolute;
        top: 10px;
        right: 13px;
        font-size: 13px;
        color: #333333;
        cursor: pointer;
        transition: color .17s ease;
    }

    .popupbaru-logo {
        float: left;
        width: 100px;
        height: 100px;
         background-size: cover;
        background-image: url('https://user-images.githubusercontent.com/94148747/141412091-5afaf35c-341d-4935-ae4a-e5daa7e715e4.png');
        margin: 0 10px 0 0;
    }

    .popupbaru a {
        float: left;
        width: 100%;
        height: 28px;
        background-color: #fc0;
        font-size: 14px;
        color: #222;
        text-align: center;
        line-height: 28px;
        margin: 15px 0 0;
        border-radius: 2px;
        transition: background .17s ease;
    }
    #back-top {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 36px;
        height: 36px;
        background-color: #6c6cfe;
        cursor: pointer;
        overflow: hidden;
        font-size: 14px;
        color: white;
        text-align: center;
        line-height: 36px;
        z-index: 50;
        box-sizing: border-box;
        margin: 0;
        border: 0;
        border-bottom: 2px solid #000;
        border-radius: 6px;
}
}
